{% extends 'base.html' %}

{% block title %}
  ARB Translator - About
{% endblock %}

{% block content %}
  <section class="about-section">
    <h1>About ARB Translator</h1>
    <p>Welcome to ARB Translator, your go-to tool for easy and efficient translation of Application Resource Bundle (ARB) files! ARB Translator is a powerful and user-friendly web application designed to help developers and content creators effortlessly localize and translate their applications.</p>

    <h2>What is ARB Translator?</h2>
    <p>ARB Translator is a cutting-edge translation platform that streamlines the process of translating ARB files, commonly used for internationalizing web and mobile applications. With ARB Translator, you can easily translate your application content into multiple languages, making it accessible and appealing to users from all around the world.</p>

    <h2>Key Features:</h2>
    <ol>
      <li>
        <strong>Easy File Upload:</strong> Simply upload your ARB file, and ARB Translator will automatically detect the source locale, allowing you to proceed with translation.
      </li>
      <li>
        <strong>Wide Language Support:</strong> ARB Translator supports a vast array of languages, making it easy to reach a global audience and expand your app's international presence.
      </li>
      <li>
        <strong>Effortless Translation:</strong> Our intuitive user interface allows you to select multiple target languages with a single click, streamlining the translation process.
      </li>
      <li>
        <strong>Real-Time Progress:</strong> Stay informed about the translation progress with our real-time progress bar. You can monitor the translation status as each locale is being processed.
      </li>
      <li>
        <strong>Quality Assurance:</strong> We ensure the accuracy of your translations with our robust quality assurance process, helping you deliver high-quality localized content.
      </li>
    </ol>
  </section>
{% endblock %}
